# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
venv/
env/
.venv/

# Data
data/raw/
data/processed/
*.zip
*.tar.gz

# Model weights
runs/
weights/
*.pt
*.onnx

# Notebooks checkpoints
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log
wandb/
